*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  height: 100vh;
  width: 100vw;
}

.root{
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav{
  background-color: white;
  border-radius: 16px;
  height: 60px;
  width: 100%;
  max-width: 1600px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

.nav .logo{
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.nav .links{
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav .links a{
  text-decoration: none;
  color: #5b5b5b;
  font-size: 12px;
}

.nav .links a:hover{
  color: #333;
}

.nav .links p{
  font-size: 12px;
  color: #5b5b5b;
  border-right: 1px solid #5b5b5b;
  padding-right: 10px;
}